@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* In your global CSS or Tailwind CSS file */
.limit-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: 'Rubik', sans-serif;
}


/* Global styles for react-select-like appearance */

.react-select-control {
  background: rgba(0, 0, 0, 0.7);
  /* Glossy black */
  border-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.react-select-menu {
  background: rgba(0, 0, 0, 0.7);
  /* Glossy black */
}

.react-select-option {
  color: white;
}

.react-select-option--is-focused {
  background: rgba(255, 255, 255, 0.1);
}

.react-select-single-value {
  color: white;
}

.react-select-input {
  color: white;
}


.glassy-background {
  background: rgba(0, 0, 0, 0.6);
  /* Semi-transparent black background */
  backdrop-filter: blur(10px);
  /* Apply a blur effect */
  -webkit-backdrop-filter: blur(10px);
  /* For Safari */
  border-radius: 10px;
  /* Optional: rounded corners */
  padding: 20px;
  /* Adjust padding as needed */
}

.card-container {
  perspective: 1000px;
  /* Adjust perspective as needed */
}

.card {
  transition: transform 0.5s, box-shadow 0.5s;
  transform-style: preserve-3d;
}

.card:hover {
  transform: rotateY(10deg) rotateX(10deg);
  /* Adjust rotation for 3D effect */
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  /* Adjust shadow */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.my-custom-popup {
  background-color: #141414;
  color: white;
}

.my-custom-confirm-button {
  background-color: #4d4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.my-custom-confirm-button:hover {
  background-color: #6e6e6e;
}

.my-custom-cancel-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.my-custom-cancel-button:hover {
  background-color: #e53935;
}